/*
 * Reset CSS to reduce browser inconsitences.
*/
@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

/*
 * Typography: Setting up global font-related properties for all the elements
*/
a {
  text-decoration: none;
  color: #071E3C !important;
  transition: 0.2s;
}
a:hover, a:focus {
  text-decoration: underline;
  color: #4050c6 !important;
}
a:active {
  color: #071E3C !important;
}

.dark-bg a {
  text-decoration: none;
  color: #FFF !important;
  transition: 0.2s;
}
.dark-bg a:hover, .dark-bg a:focus {
  color: #00bfa5 !important;
  text-decoration: underline;
}
.dark-bg a:active {
  color: #00bfa5 !important;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 12px !important;
}
@media (min-width: 1024px) {
  body {
    font-size: 14px !important;
  }
}
@media (min-width: 1280px) {
  body {
    font-size: 14px !important;
  }
}

p {
  font-size: 12px !important;
}
@media (min-width: 1024px) {
  p {
    font-size: 14px !important;
  }
}
@media (min-width: 1280px) {
  p {
    font-size: 14px !important;
  }
}

b,
strong {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

img {
  max-width: 100%;
}

blockquote {
  color: #071E3C;
  margin: 30px 0;
  padding: 10px 0 0 40px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-left: 4px solid #4050c6;
}
blockquote .byline {
  font-size: 16px;
  font-weight: 300;
  display: block;
}

p.lead {
  font-size: 16px !important;
  line-height: 22px;
}
@media (min-width: 1024px) {
  p.lead {
    font-size: 20px !important;
    line-height: 30px;
  }
}
@media (min-width: 1280px) {
  p.lead {
    font-size: 22px !important;
    line-height: 150%;
  }
}

p.small {
  font-size: 12px !important;
  font-weight: 300 !important;
  line-height: 18px;
}

.content-styled a {
  color: #4050c6;
  transition: 0.3s ease-out;
}
.content-styled a:hover {
  color: #3646b6;
  text-decoration: none;
}
.content-styled a:active {
  color: #5462cc;
  text-decoration: none;
}
.content-styled ul {
  list-style-type: circle;
  margin-left: 1em;
}
.content-styled ul li {
  margin: 1em 0;
}
.content-styled hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  height: 1px;
  background-color: #4050c6;
}
.content-styled img.alignleft {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.content-styled img.alignright {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}
.content-styled img.aligncenter {
  clear: both;
  float: none;
  margin: 0 auto;
}
.content-styled + .btn,
.content-styled + p {
  margin-top: 20px;
}
.content-styled ul {
  display: block;
  list-style: none;
  margin-bottom: 0;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #071E3C;
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  p {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1280px) {
  p {
    font-size: 18px;
    line-height: 140%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
  color: #071E3C;
  margin-bottom: 1.2rem !important;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 28px !important;
  line-height: 32px;
  color: #071E3C;
  font-weight: 500 !important;
}
@media (min-width: 1024px) {
  h1 {
    font-size: 50px !important;
    line-height: 56px;
  }
}
@media (min-width: 1280px) {
  h1 {
    font-size: 60px !important;
    line-height: 75px;
  }
}

h2 {
  font-size: 24px !important;
  line-height: 28px;
  color: #071E3C;
  font-weight: 500 !important;
}
@media (min-width: 1024px) {
  h2 {
    font-size: 40px !important;
    line-height: 48px;
  }
}
@media (min-width: 1280px) {
  h2 {
    font-size: 48px !important;
    line-height: 52px;
  }
}

h3 {
  font-size: 22px !important;
  line-height: 26px;
  color: #071E3C;
  font-weight: 500 !important;
}
@media (min-width: 1024px) {
  h3 {
    font-size: 30px !important;
    line-height: 32px;
  }
}
@media (min-width: 1280px) {
  h3 {
    font-size: 36px !important;
    line-height: 100%;
  }
}

h4 {
  font-size: 20px !important;
  line-height: 24px;
  color: #071E3C;
  font-weight: 500 !important;
}
@media (min-width: 1024px) {
  h4 {
    font-size: 24px !important;
    line-height: 28px;
  }
}
@media (min-width: 1280px) {
  h4 {
    font-size: 26px !important;
    line-height: 120%;
  }
}

h5 {
  font-size: 18px !important;
  line-height: 22px;
  color: #071E3C;
  font-weight: 500 !important;
}
@media (min-width: 1024px) {
  h5 {
    font-size: 18px !important;
    line-height: 120%;
  }
}
@media (min-width: 1280px) {
  h5 {
    font-size: 20px !important;
    line-height: 120%;
  }
}

h6 {
  font-size: 14px !important;
  line-height: 18px;
  color: #071E3C;
  font-weight: 500 !important;
}
@media (min-width: 1024px) {
  h6 {
    font-size: 16px !important;
    line-height: 20px;
  }
}
@media (min-width: 1280px) {
  h6 {
    font-size: 18px !important;
    line-height: 120%;
  }
}

ul li {
  padding-left: 30px;
  position: relative;
  margin-bottom: 15px;
}
ul li:before {
  content: " ";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #4050c6;
  position: absolute;
  left: 0;
  top: 5px;
}
ul li ul {
  padding-top: 15px;
}
ul.graphic-list li:before {
  background-color: transparent;
  width: 16px;
  height: 16px;
  background-image: url("../img/icons/bullet.svg");
}

ol {
  counter-reset: item;
  padding: 0;
}
ol li {
  counter-increment: item;
  list-style: none inside;
  padding-left: 30px;
  position: relative;
}
ol li:before {
  color: #4050c6;
  content: "" counter(item) "";
  display: inline-block;
  left: 10px;
  top: 5px;
  line-height: 15px;
  position: absolute;
  font-weight: bold;
  text-align: center;
}

.dark ul li {
  color: #FFF;
}
.dark ul li:before {
  background-color: #00bfa5;
}
.dark ul.graphic-list li:before {
  background-image: url("../img/icons/bullet-light.svg");
}
.dark ol li {
  color: #FFF;
}
.dark ol li::before {
  color: #00bfa5;
}

.btn {
  display: inline-block;
  border: 2px solid transparent;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem 0;
  letter-spacing: 1px;
}

.btn-small {
  padding: 10px 20px;
}

.btn-medium {
  padding: 12px 30px;
}

.btn-large {
  padding: 15px 38px;
}

.btn-primary {
  background-color: #4050c6;
  border-color: #4050c6;
  color: #FFF !important;
  font-weight: 700;
  transition: 0.2s;
  border-radius: 100px;
}
.btn-primary:hover {
  background-color: #FFF;
  color: #4050c6 !important;
}

.btn-secondary {
  background-color: #FFF;
  border-color: rgba(64, 80, 198, 0.5);
  border-radius: 2px;
  color: rgba(64, 80, 198, 0.5);
  transition: 0.2s;
}
.btn-secondary:hover {
  background-color: #4050c6;
  border-color: #4050c6;
  color: #FFF !important;
}

.btn-tertiary {
  background-color: #4050c6;
  border-color: #4050c6;
  color: #FFF !important;
  transition: 0.2s;
  border-radius: 2px;
}
.btn-tertiary:hover {
  background-color: #FFF;
  border-color: rgba(64, 80, 198, 0.5);
  color: #4050c6 !important;
}

.dark-bg .btn-primary {
  background-color: #00bfa5 !important;
  border-color: #00bfa5 !important;
}
.dark-bg .btn-primary:hover {
  color: #FFF !important;
  background-color: transparent !important;
}
.dark-bg .btn-secondary {
  color: #4050c6 !important;
}
.dark-bg .btn-secondary:hover {
  background-color: transparent !important;
  color: #FFF !important;
}
.dark-bg .btn-tertiary {
  background-color: transparent !important;
  border-color: #FFF !important;
}
.dark-bg .btn-tertiary:hover {
  color: #4050c6 !important;
  background-color: white !important;
}

.bg-primary {
  color: #FFF;
  background-color: #4050c6;
}

.bg-secondary {
  background-color: #00bfa5;
  color: #FFF;
}

.bg-tertiary {
  background-color: #52b1ff;
  color: #FFF;
}

.dark-bg {
  background-color: #4050c6;
}
.dark-bg h1, .dark-bg h2, .dark-bg h3, .dark-bg h4, .dark-bg h5, .dark-bg h6, .dark-bg p {
  color: #FFF !important;
}

#styleguide .dark-bg {
  padding: 30px !important;
}
#styleguide #style-head {
  display: none;
}
#styleguide #style-head .logotipo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#styleguide #style-hero {
  background-color: #f5f5f5;
  padding: 150px 0 150px 0;
  margin-bottom: 0px;
}
#styleguide #style-hero .titles {
  position: relative;
  color: #071E3C;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#styleguide #style-hero .titles:before {
  content: " ";
  position: absolute;
  width: 80px;
  height: 6px;
  background-color: #52b1ff;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
#styleguide #style-hero .titles h1,
#styleguide #style-hero .titles h4 {
  color: #071E3C;
}
#styleguide #style-hero .titles h4 {
  margin-top: 47px;
  font-weight: 300;
}
#styleguide .section-title {
  padding: 32px 0;
  border-bottom: 3px solid #52b1ff;
  margin-bottom: 37px;
  width: 100%;
  margin-top: 60px;
}
#styleguide .color-module {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 29px 40px;
}
#styleguide .typo-module {
  margin-bottom: 28px;
}
#styleguide .list-module {
  display: block;
  width: 100%;
}
#styleguide .list-module h6 {
  margin-bottom: 28px;
}
#styleguide .list-module li {
  margin-bottom: 20px;
}
#styleguide .blockquote-module {
  margin: 90px 0;
}
#styleguide .blockquote-module h6 {
  margin: 45px 0;
}
#styleguide .light-bg {
  padding: 0 0 100px 0;
  display: block;
}
#styleguide .dark-bg {
  display: block;
  background-color: #4050c6;
  padding: 85px 0 100px 0;
}
#styleguide .buttons-module {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
#styleguide .buttons-module div {
  margin-bottom: 20px;
}

.dark {
  background-color: #071E3C;
}
.dark h5 {
  color: #FFF;
}

.list-block {
  padding: 20px;
}

.hero-block {
  position: relative;
}
.hero-block .circle-mask {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: linear-gradient(54deg, rgb(255, 255, 255) 40%, transparent 100%);
}
.hero-block .hero-title {
  color: #071E3C !important;
}
.hero-block .hero-image {
  top: 40%;
  right: 25%;
}
.hero-block .hero-text {
  position: relative;
  z-index: 10;
}
.hero-block .hero-text .h-content {
  font-size: 16px !important;
  line-height: 22px;
}
@media (min-width: 1024px) {
  .hero-block .hero-text .h-content {
    font-size: 20px !important;
    line-height: 30px;
  }
}
@media (min-width: 1280px) {
  .hero-block .hero-text .h-content {
    font-size: 22px !important;
    line-height: 150%;
  }
}
.hero-block .hero-text .h-content p {
  font-size: 16px !important;
  line-height: 22px;
}
@media (min-width: 1024px) {
  .hero-block .hero-text .h-content p {
    font-size: 20px !important;
    line-height: 30px;
  }
}
@media (min-width: 1280px) {
  .hero-block .hero-text .h-content p {
    font-size: 22px !important;
    line-height: 150%;
  }
}

.cta-label-block {
  background-color: #4050c6;
}
.cta-label-block .cta-text h5 {
  margin-bottom: 0 !important;
  color: #FFF;
}

.logo-grid-block .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
}
@media (min-width: 1024px) {
  .logo-grid-block .grid-item {
    padding: 50px 70px;
  }
}

.global-footer {
  border-top: 90px solid rgba(82, 177, 255, 0.3);
}
.global-footer .social-icons {
  display: flex;
  gap: 15px;
}
.global-footer .social-icons .icon {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 16px !important;
  border-radius: 100%;
  background-color: rgba(153, 153, 153, 0.5) !important;
  color: #FFF !important;
  transition: 0.2s;
}
.global-footer .social-icons .icon:hover {
  text-decoration: none;
  background-color: #00bfa5 !important;
}
.global-footer .footer-widgets .widget h6 {
  text-transform: uppercase;
  color: #071E3C !important;
}
.global-footer .footer-widgets .widget .widget-links li {
  list-style: none !important;
  margin-bottom: 10px;
}
.global-footer .footer-widgets .widget .widget-links li::before, .global-footer .footer-widgets .widget .widget-links li::after {
  content: none !important;
}
.global-footer .footer-widgets .widget .widget-links li a {
  color: #999 !important;
  transition: 0.2s;
}
.global-footer .footer-widgets .widget .widget-links li a:hover {
  color: #4050c6 !important;
}
.global-footer .copyrights .top-copy {
  color: #999;
}
.global-footer .copyrights .top-copy .terms-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
@media (min-width: 768px) {
  .global-footer .copyrights .top-copy .terms-nav ul {
    flex-direction: row;
  }
}
.global-footer .copyrights .top-copy .terms-nav ul li {
  padding: 0;
  display: inline-block;
  color: #999;
}
.global-footer .copyrights .top-copy .terms-nav ul li::before, .global-footer .copyrights .top-copy .terms-nav ul li:after {
  content: none;
}
.global-footer .copyrights .top-copy .terms-nav ul li a {
  color: #999 !important;
}
.global-footer .copyrights .top-copy .terms-nav ul li a:hover {
  color: #4050c6 !important;
}
.global-footer .copyrights .bottom-copy {
  color: #999;
  font-size: 12px !important;
  font-weight: 300 !important;
  line-height: 18px;
}/*# sourceMappingURL=style.css.map */